<% provide(:title, 'About Us') %>
<h2>О Нас
  <p>
  Обучение массажам
  </p>
</h2>
<h3>
  <p>
  Центр восточно-оздоровительных массажных практик, педагогической коррекции, интегративных психо-технологий, уникальный массажных разработок, реабилитации и замена ментальных конструкций, фиксаций и обусловленностей.
  </p>
</h3>
<p>
Международный центр восточно-оздоровительных практик и массажа — это первая массажная школа на территории СНГ. Она была основана в 1995 году Робертом Илинскас. За время своей работы в школе прошли обучение более 10 000 человек, 60% учеников успешно работают массажистами, 20% учеников используют знания и навыки, полученные при обучении, для дома и семьи.
</p>
<p>
Школа массажа Роберта Илинскас, как ее часто называют, главным образом специализируется на обучении восточным видам массажа.
</p>
<p>
Здесь проходит обучение по курсам:
  <ul>
    <li> Тайский массаж</li>
    <li> Тайский массаж на столах</li>
    <li> Индийский масляный массаж</li>
    <li> Мексиканский массаж</li>
    <li> Японский массаж</li>
    <li> Холестический массаж</li>
    <li> Баночный массаж</li>
    <li> Вибрационный массаж.</li>
  </ul>
</p>
<p>
В чем особенность этой школы и почему, если уж обучаться массажам, то только здесь?
</p>
<p>
Самое главное – это легкость и доступность излагаемого материала. Девиз школы так и звучит: «Массаж – это легко».
</p>
<p>
Во время обучения участники сразу начинают делать массаж, тем самым закрепляя полученные знания на уровне тела. И что немало важно, во время тренинга есть возможность почувствовать массаж на себе.
</p>
<p>
Здесь не просто учат массажным техникам. В школе учатся чувствовать тело клиента и свое собственное. Такой подход дает отличные результаты, и ученики школы становятся действительно профессиональными и востребованными массажистами.
</p>
<p>
Все курсы адаптированы под славянский менталитет, но при этом не лишены восточного колорита.
</p>
<p>
После обучения слушатели получают сертификат Международного центра восточно-оздоровительных практик и массажа.
</p>
<p>
Кроме того, Международный центр восточно-оздоровительных практик и массажа регулярно проводит оздоровительные мастер — классы, лекции, сатсанги.
</p>
<p>
Одно из самых масштабных событий – это ежегодный летний фестиваль «Море массажа», на который съезжаются со всей страны, как профессиональные опытные массажисты, так и новички, желающие получить новую профессию, или просто отдохнуть весело и с пользой.
</p>
<p>
Итак, если у вас есть желание научиться делать массаж и не только — Международный центр восточно-оздоровительных практик и массажа — это то, что нужно.
</p>