<% provide(:title, 'Help') %>
<h1>Вопросы и ответы</h1>
<p>
  <h2>Почему стоит обучаться массажам у нас?</h2>


  <h3>Первая массажная школа на территории СНГ. Обучаем с мая 1995 года</h3>

  <h3>Обучили более 10 000 человек. 60% учеников успешно работают массажистами. 20% учеников используют для дома и семьи</h3>

  <h3>Необязательно иметь медицинское образование. После обучения Вы получаете сертификаты авторитетных массажных организаций</h3>
</p>