<div class="center hero-unit">
  <h1>Добро пожаловать</h1>

  <h2>
    
    Информационная система <br>
    координирования участников мероприятий <br>
    Ивановского филиала Международного центра <br>
    восточно – оздоровительных практик и массажа<br>
    <a href="http://Илинскас.рф/">Роберта Илинскас</a><br>
    позволит Вам всегда быть в курсе <br>
    встреч, семинаров, фестивалей и других <br>
    массовых, учебных и развдекательных <br>
    мероприятий.


  </h2>

  <%= link_to "Зарегистрироваться в системе", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>