<div class="hero-unit">
  <h1>Спасибо за регистрацию</h1>
  <p>Ваша регистрация будет подтверждена после предоплаты.</p>
  <p>
    <%= link_to 'Вернуться к событию', event_path(@event), class: 'btn btn-primary btn-large' %>
  </p>
</div>