<footer class="footer">
  <small>
    <a href="http://xn--80apaidn2ac.xn--p1ai/">Илинскас.рф</a>
    |
    <a href="http://ilinskas.ru">Ilinskas.ru</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "О Нас",   about_path %></li>
      <li><%= link_to "Контакты", contact_path %></li>
    </ul>
  </nav>
</footer>