<footer class="footer">
  <small>
    <a href="https://twitter.com/Metallurg_IT">@Metallurg_IT</a>
    |
    <a href="http://SYSgu.ru">SYSgu.ru</a>
    |
    <a href="http://ilinskas.ru">Ilinskas.ru</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "О Нас",   about_path %></li>
      <li><%= link_to "Контакты", contact_path %></li>
    </ul>
  </nav>
</footer>